<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div3>

			<form align="center">
				<a href="app.component.html">Books</a>
				<a href="app.component.html">Search</a>
				<a href="app.component.html">Top Stories</a>
		  </form>

</div3>

<h2>The following content is for the Books API</h2>


<h3> The following list shows the New York Times Best Sellers</h3>

<router-outlet></router-outlet>






